dist: xenial
language: c
before_install:
 - sudo apt-get install python3-pip python3-setuptools uthash-dev
install:
 - pip3 install pgspawn
 - pushd musl && ./configure && make -j && popd
script:
 - make test
